{# =========== THIS CODE BELOW IS FOR NAVBAR ================ #}

<nav class="navbar navbar-expand-md navbar-light bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><b>Water</b> Inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu">
            <span class="navbar-toggler-icon">
            </span>
        </button>
        <div class="collapse navbar-collapse" id="main_menu">
            <ul class="navbar-nav ms-auto gap-3">
                {% if ceo == 1 %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'LoadDashboard' %}">Dashboard</a></li>
{#                    <li class="nav-item"><a class="nav-link" href="{% url 'LoadAdmin' %}">Admin</a></li>#}
                {% endif %}
                {% if ceo != 1 %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'load_home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'load_status' %}">Status</a></li>
                {% endif %}
                <li class="nav-item"><a class="btn btn-outline-dark" href="{% url 'LogOut' %}">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

{# ======================================================= #}
