<div class="col-sm-7">
    <div class="card border-light border-light mb-3 shadow rounded-3">
        <div class="card-header rounded-3">
            <div class="text-center">
                <h5>Stock In</h5>
            </div>
        </div>
        <div class="card-body text-dark">

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th class="col">
                        <div class="text-center">
                            Staff Name
                        </div>
                    </th>
                    <th class="col">
                        <div class="text-center">
                            Type
                        </div>
                    </th>
                    <th class="col">
                        <div class="text-center">
                            Quantity
                        </div>
                    </th>
                    <th class="col">
                        <div class="text-center">
                            Action
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td>
                        <div class="text-center">
                            Ashraful Islam
                        </div>

                    </td>
                    <td>MUM 0.5L 6Tk</td>
                    <td>
                        <div class="text-center">
                            6
                        </div>

                    </td>

                    <td>
                        <div class="text-center">
                            <button class="btn btn-dark">Delete</button>
                        </div>

                    </td>
                </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>
